@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto Slab", sans-serif;
  box-sizing: border-box;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.6rem 3.5rem;
}
.header__logo-box {
  width: 8rem;
  height: 3.5rem;
}
.header__logo-box img {
  width: 100%;
  height: 100%;
}

/* Typography*/

.heading-primary {
  font-size: 2.9rem;
  position: relative;
  margin-bottom: 3rem;
  color: #4a302c;
}
.heading-secondary {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.color-primary {
  color: #e68100;
}
.paragraph-primary {
  font-size: 1.12rem;
  margin-top: 1rem;
}

.paragraph-secondary {
  font-size: 0.9rem;
}

.section-title {
  text-align: center;
  position: relative;
}
.section-title ::after {
  content: " ";
  position: absolute;
  width: 6rem;
  height: 0.15rem;
  background-color: #e68100;
  top: 2.8rem;
  left: 46%;
}

/* Navigation Section */

.navigation {
  width: 50%;
}
.side-menu-bar {
  display: none;
}

.navigation__list {
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.navigation__item:hover {
  border-bottom: 1px solid #472b1b;
}

.navigation__link:visited,
.navigation__link:link {
  color: #4a302c;
  font-size: 1rem;
  text-decoration: none;
}
/* @media screen and (max-device-width: 360px) {
  .navigation__list {
    display: block;
  }
  .side-menu-bar {
    display: block;
    cursor: pointer;
  }
} */

/* @media screen and (min-device-width: 769px) {
  .navigation {
    width: 50%;
  }
} */

/* 
Header Box Section */
.header__box {
  height: 80vh;
  width: 100vw;
  background-image: url(./../assests/images/edited.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.header__text-box {
  color: white;
  text-align: center;
  margin: 0 auto;
}

.btn-transparent {
  color: white;
  font: inherit;
  padding: 0.7rem;
  border: 1px solid white;
  background-color: transparent;
  font-size: 1rem;
  margin-top: 2.5rem;
  cursor: pointer;
}
.btn-transparent:active,
.btn-transparent:hover {
  background-color: rgba(230, 129, 0, 0.1);
}

.header-paragraph {
  width: 25rem;
  margin-top: 1rem;
}

/* Menu-Section */
.section-heading {
  font-size: 1.5rem;
  position: relative;
}
.section-heading::after {
  content: " ";
  position: absolute;
  width: 5rem;
  height: 0.1rem;
  background-color: #e68100;
  left: 0;
  top: 2.4rem;
}
.section-menus {
  width: 100vw;
  display: flex;
  justify-content: row;
}
.p-width {
  padding-right: 20rem;
  margin-top: 0.4rem;
}
.menu-content {
  padding-right: 4rem;
}
.menu-photos,
.menu-items {
  width: 40%;
  position: relative;
}
.menu-photo-1,
.menu-photo-3 {
  width: 10rem;
  height: 10rem;
}

.menu-photo-2 {
  width: 10rem;
  height: 9rem;
}
.menu-photo-1 img,
.menu-photo-2 img,
.menu-photo-3 img,
.menu-photo-4 img {
  width: 100%;
  height: 100%;
}

.menu-photo-1 {
  transform: rotate(90deg);
  position: absolute;
}

.menu-photo-2 {
  position: absolute;
  left: 4rem;
  top: 16rem;
}

.menu-photo-3 {
  position: absolute;
  left: 14rem;
  top: 10rem;
}

.menu-items {
  padding: 3rem;
  width: 70%;
  position: relative;
}

.menu-photo-4 {
  position: absolute;
  right: -1.4rem;

  width: 15rem;
  height: 15rem;
}
.menu-photo-4 img {
  transform: rotate(40deg);
}
.menu-items ul {
  list-style: none;
}
.menu-title {
  color: black;
  position: relative;
}

.menu-paragraph {
  color: #e68100;
}

.menu-list-item {
  margin: 2rem 0;
}
.menu-list-item .menu {
  display: flex;
}
.menu-list-item .menu-filler {
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: 0 0.7rem;
  height: 1rem;
}
.main-title {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e68100;
}

.menu-button {
  color: #472b1b;
  font: inherit;
  background-color: white;
  border: 1px solid #472b1b;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.menu-button:hover,
.menu-button:active {
  background-color: rgba(230, 129, 0, 0.3);
}
/* 
@media screen and (min-device-width: 769px) {
  .p-width {
    padding-right: 5rem;
  }
  .menu-photos {
    width: 50%;
  }
}

@media screen and (max-device-width: 360px) {
  .menu-photo-1,
  .menu-photo-2,
  .menu-photo-3,
  .menu-photo-4 {
    width: 5rem;
    height: 5rem;
  }
  .menu-content {
    padding: 0;
  }
  .menu-list-item {
    width: 100%;
  }
} */

/* Services Section */

.section-services {
  background-color: #fef8f1;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.services-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  height: 45rem;
  align-items: center;
}
.service-list {
  width: 33%;
  text-align: center;
}
.service-title {
  font-weight: bold;
}

.service-description {
  text-align: center;
}

.service-description p {
  width: 80%;
  margin: 1rem auto;
}

/* Testimonials Section */
.testimonial-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 4rem;
}
.testimonial {
  width: 30%;
}
.section-testimonials {
  padding: 4rem;
  color: #4a302c;
}
.testimonial-title {
  text-align: center;
  font-size: 1.5rem;
}
.testimonial-content {
  margin-top: 1rem;
}
.testimonial-image-container {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  margin-right: 1rem;
}

.testimonial-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.testimonial-content {
  display: flex;
  align-items: center;
}
.testimonial-2 {
  border: 1.5px solid black;
  padding: 2rem;
  position: relative;
}
.testimonial-1,
.testimonial-3 {
  padding: 2rem;
}
.icon-quote {
  position: absolute;
  top: -0.7rem;
  left: 2rem;
  background-color: white;
  font-size: 1.4em;
}
/* Location Section  */
.section-location {
  background-image: linear-gradient(
      to bottom,
      rgba(244, 234, 220, 0.95),
      rgba(244, 234, 220, 0.95)
    ),
    url(./../assests/images/group.png);
  background-position: center;

  padding: 4rem;
  color: #4a302c;
  text-align: center;
}
.location-button button {
  padding: 0.6rem 2rem;
  font: inherit;
  background-color: transparent;
  color: #4a302c;
  border: 1.5px solid black;
  cursor: pointer;
}

.location-button button:hover,
.location-button button:active {
  background-color: rgba(230, 129, 0, 0.3);
}

.location-description {
  padding: 0 18rem;
  margin: 3rem 2rem;
  color: #4a302c;
}

/* @media screen and (min-device-width: 769px) {
  .location-description {
    padding: 0 5rem;
  }
} */

/* Follow Us Section  */

.section-follow {
  text-align: center;
  padding: 5rem;
}
.section-follow-description {
  margin-top: 1.5rem;
  margin-bottom: 3.7rem;
}

.follow-images {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.follow-image {
  width: 23%;
  height: 15rem;
  object-fit: contain;
}
.follow-image-1,
.follow-image-2,
.follow-image-3,
.follow-image-4 {
  width: 100%;
  height: 100%;
}

/* Footer Section */
.section-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 4rem;
}

.footer-image-logo {
  width: 12rem;
  height: 6rem;
  object-fit: cover;
  margin: 0 auto;
}
.footer-image-logo img {
  width: 100%;
  height: 100%;
}

.contact-details {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}
.social-link:not(:last-child) {
  margin-right: 1rem;
}
.social-link:visited,
.social-link:link {
  color: white;
}
